#central {
    text-align: center;
    width: 40%;
    margin-left:29%;
    border: solid 1px;
    margin-right: 29%;
    margin-top: 100px;
    padding: 30px;
    margin-bottom: 250px;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 3%;

}


