#central {
    text-align: center;
    width: 40%;
    margin-left:29%;
    border: solid 1px;
    margin-right: 29%;
    margin-top: 100px;
    padding: 30px;
    margin-bottom: 250px;
    padding-right: 6%;
    padding-left: 6%;
    padding-top: 3%;

}

/*.naglowek {*/
/*    margin-top: 20px;*/
/*    margin-bottom: 20px;*/
/*}*/

/*.smaller {*/
/*    width:80%;*/
/*    margin-left: 10%;*/
/*    margin-right: 10%;*/
/*}*/

/*.bottom {*/
/*    margin-bottom: 20px;*/
/*}*/

/*.choose {*/
/*    text-align: center;*/
/*    width:30%;*/
/*    margin-left: 35%;*/
/*    margin-right: 35%;*/
/*}*/

/*.divv {*/
/*    margin-bottom: 30px;*/
/*}*/
