@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');

h1{

    text-align: center;
    font-size: 4rem;
    font-family: 'Titillium Web', sans-serif;
    margin-top:25px;
    margin-bottom: 30px;

}
h5 {
    margin-bottom: 20px;
}
h2 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Titillium Web', sans-serif;
    margin:2%;

}
#back {
    margin-top:10px;
    margin-left:20px;
}



/*#photo_gallery {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    justify-content: space-evenly;*/
/*    flex-wrap: wrap;*/

/*}*/

/*#photo_gallery .card {*/
/*    width: 25%;*/
/*    margin-top: 2%;*/
/*    margin-bottom: 2%;*/
/*}*/



/*#photo_gallery #lol img {*/
/*    width:100%;*/
/*    height:60%;*/
/*}*/

/*tu start*/
/*.posit {*/
/*    position: relative;*/
/*    overflow: hidden;*/
/*    width: 100%;*/
/*    flex-basis:60%;*/
/*    !*height: 20vh;*!*/
/*}*/

/*.posit_child {*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    left: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    min-width: 100%;*/
/*    min-height: 100%;*/
/*}*/

#photo_gallery #photo img {
    width:100%;
    height:45vh;
}


/*@media screen and (min-width: 1100px) {*/
/*    #photo_gallery {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-evenly;*/
/*        flex-wrap: wrap;*/

/*    }*/
/*    #photo_gallery .card {*/
/*        width: 30%;*/
/*        margin-top: 2%;*/
/*        margin-bottom: 2%;*/
/*    }*/
/*}*/


/*@media (max-width: 1099px) and (min-width: 600px) {*/
/*    #photo_gallery {*/
/*        display: flex;*/
/*        flex-direction: row;*/
/*        justify-content: space-evenly;*/
/*        flex-wrap: wrap;*/

/*    }*/
/*    #photo_gallery .card {*/
/*        width: 48%;*/
/*        margin-top: 2%;*/
/*        margin-bottom: 2%;*/
/*    }*/
/*}*/
/*@media (max-width: 599px) and (min-width: 2px){*/
/*    #photo_gallery {*/
/*        display: flex;*/
/*        flex-direction: column;*/

/*    }*/
/*    #photo_gallery .card {*/
/*        width: 90%;*/
/*        margin-top: 2%;*/
/*        margin-bottom: 2%;*/
/*        margin-left:5%;*/
/*        margin-right:5%;*/
/*    }*/
/*}*/




.buttons {
    text-align: center;
}

.bodycard {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

/*.knopka {*/
/*    width: 20%;*/

/*}*/



@media screen and (min-width: 1100px) {
    #photo_gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;


    }
    #photo_gallery .karta {
        width: 30%;
        /*flex-basis: 50%;*/
        margin-top: 2%;
        margin-bottom: 2%;
        border:  1px solid rgba(0,0,0,.125);
    }
    .divobrazka {
        height: 45vh;
        /*width:300px;*/
        /*height: 200px;*/
        position: relative;
        overflow: hidden;
    }
    /*#photogallery #obrazek img {*/
    /*    height: auto;*/
    /*    width:100%;*/
    /*}*/

    .divobrazka img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    .karta {
        display: flex;
        flex-direction: column;

    }
    #photo_gallery .card {
        width: 30%;
        margin-top: 2%;
        margin-bottom: 2%;
    }

    /*.obrazek {*/
    /*    width: 100%;*/
    /*    height:60%*/

    /*}*/


}

@media (max-width: 1099px) and (min-width: 650px) {
    #photo_gallery {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

    }
    #photo_gallery .karta {
        width: 46%;
        /*flex-basis: 50%;*/
        margin-top: 2%;
        margin-bottom: 2%;
        border:  1px solid rgba(0,0,0,.125);
    }
    #photo_gallery .card {
        width: 48%;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    /*.karta {*/
    /*    position: relative;*/
    /*display: -ms-flexbox;*/
    /*display: flex;*/
    /*-ms-flex-direction: column;*/
    /*flex-direction: column;*/
    /*min-width: 0;*/
    /*word-wrap: break-word;*/
    /*background-color: #fff;*/
    /*background-clip: border-box;*/
    /*border: 1px solid rgba(0,0,0,.125);*/
    /*border-radius: .25rem;*/
    /*}*/
    .divobrazka {
        height: 45vh;
        position: relative;
        overflow: hidden;
    }

    .divobrazka img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        /*min-height: 100%;*/
    }
    .karta {
        display: flex;
        flex-direction: column;

    }
}


@media (max-width: 649px) and (min-width: 100px) {
   #photo_gallery {
        display: flex;
        flex-direction: column;

    }
    #photo_gallery .karta {
        width: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left:5%;
        margin-right:5%;
    }
    .divobrazka {
        height: 45vh;
        position: relative;
        overflow: hidden;
    }

    .divobrazka img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 100%;
    }
    .karta {
        display: flex;
        flex-direction: column;

    }
    #photo_gallery .card {
        width: 90%;
        margin-top: 2%;
        margin-bottom: 2%;
        margin-left:5%;
        margin-right:5%;
    }
}