{% extends 'base.html' %}
{% block title %}
    <title>O pracy</title>
{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/about.css">
{% endblock  %}

{% block content %}

    <h1>Sztuka surrealistyczna - dzieła Salvadora Dalego i Rene Magritte'a</h1>
    <h3>O pracy</h3>
    <div class="centered">
    <p>Niniejsza praca stanowi dokumentację pracy licencjackiej realizowanej w ramach studiów Elektronicznego Przetwarzania Informacji na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego. Celem projektu jest stworzenie serwisu w postaci internetowej galerii obrazów, przedstawiającego dzieła dwóch znanych surrealistów – Salvadora Dalego i Rene Magritte’a.</p>
    <p>Surrealism – ruch w literaturze i malarstwie XX wieku, wyróżniający się dzięki swojej awangardowości, ekstrawagancji oraz tajemniczości. Obrazy surrealistów są znane oraz powszechnie rozpoznawalne nawet wśród osób, szczególnie nie interesujących się danym stylem w malarstwie. Styl surrealistyczny zawiera odniesienia do psychoanalizy oraz elementy “snów na jawie”, dlatego dla rozumienia obrazów potrzebne są bardziej szczegółowe wytłumaczenia/opisy.</p>

    </div>

    <h3>Literatura</h3>
    <div class="centered">
    <p>Teksty na stronie zostały zapożyczone z książek:</p>
    <ul>
    <li>
        <p>1. Allmer P., <i>This is Magritte</i>, London, Laurence King Publishing, 2016.</p>
    </li>
    <li>
        <p>2. Ingram K., <i>This is Dali</i>, London, Laurence King Publishing, 2014.</p>
    </li>
{#     <li>#}
{#        <p>3. Dali S., <i>Diary of a genius</i></p>#}
{#    </li>#}

    </ul>
    <p>Tłumaczenia tekstów są mojego autorstwa.</p>
    </div>




    <h3>Źródła obrazów</h3>
    <div class="centered">
     <p>Obrazy, umieszczone w galerii zostały zapożyczone ze strony<a href="https://www.wikiart.org"> WikiArt </a></p>
    </div>



{% endblock content %}