{% extends 'base.html' %}
{% block title %}
    <title>Logowanie</title>
{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formType.css') }}" type="text/css"/>

{% endblock  %}

{% block content %}
    <div id="central" class="form">
      <form method = "POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
          <div class="naglowek">
              <legend ><h1>Logowanie</h1></legend>
          </div>
              <div class="form-group">
                  {{ form.username.label(class="form-control-label smaller") }}
                  {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.username.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.username(class="form-control form-control-lg smaller") }}
                  {% endif %}

              </div>

              <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid smaller") }}
                      <div class="invalid-feedback">
                          {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.password(class="form-control form-control-lg smaller") }}
                  {% endif %}

              </div>
              <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>
      </form>

        <div class="border-top pt-3 bottom">
              <small class="text-muted ">
                  Nie masz konta? <a href="{{ url_for('register') }}">Zarejestruj się</a>
              </small>
          </div>

    </div>
{% endblock content %}