{% extends 'base.html' %}

{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{#    <link rel="stylesheet" href="../static/css/formType.css">#}
{% endblock  %}

{% block content %}

    <div style="padding-right:6%; padding-left:6%; padding-top:3%; padding-bottom:3%; text-align: center; width: 60%; margin-left:19%; border: solid 1px; margin-right: 19%; margin-top: 70px; margin-bottom: 200px;}" class="form">
      <form method = "POST" action="">
          {{ form.hidden_tag() }}
          <fieldset class="form-group">
          <div>
              <legend style=" margin-top: 20px; margin-bottom: 20px;" class="border-bottom mb-4"><h1>Podaj nowe hasło</h1></legend>
          </div>


              <div class="form-group">
                  {{ form.password.label(class="form-control-label") }}
                  {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.password.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.password(class="form-control form-control-lg") }}
                  {% endif %}

              </div>
{#              <div class="form-group">#}
{#                  {{ form.password.label(class="form-control-label") }}#}
{#                  {{ form.password(class="form-control form-control-lg") }}#}
{#              </div>#}
              <div class="form-group">
                  {{ form.confirm_password.label(class="form-control-label") }}
                  {% if form.confirm_password.errors %}
                      {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.confirm_password.errors %}
                              <span>{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.confirm_password(class="form-control form-control-lg") }}
                  {% endif %}

              </div>
{#              <div class="form-group">#}
{#                  {{ form.confirm_password.label(class="form-control-label") }}#}
{#                  {{ form.confirm_password(class="form-control form-control-lg") }}#}
{#              </div>#}

          </fieldset>
          <div class="form-group">
              {{ form.submit(class="btn btn-outline-info") }}
          </div>


      </form>
    </div>
{% endblock content %}