{% extends 'base.html' %}
{% block title %}
    <title>Pictures</title>
{% endblock %}
{% block stylesheets %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/picturesMenu.css') }}" type="text/css"/>
{% endblock  %}
{% block art %}
    <h1>Obrazy</h1>
    <h5 class="buttons">Filtruj</h5>
    <div class="buttons">
    <a class="btn btn-outline-dark mb-4" href="{{ url_for('picturesMenu') }}">Wszystkie</a>
    {% if button == 2 %}
            <a class="btn btn-dark mb-4" href="{{ url_for('gallery_artist', artist_id=2) }}">Salvador Dali</a>
    {% else %}
        <a class="btn btn-outline-dark mb-4" href="{{ url_for('gallery_artist', artist_id=2) }}">Salvador Dali</a>
    {% endif %}

    {% if button == 1 %}
            <a class="btn btn-dark mb-4" href="{{ url_for('gallery_artist', artist_id=1) }}">Rene Magritte</a>
    {% else %}
        <a class="btn btn-outline-dark mb-4" href="{{ url_for('gallery_artist', artist_id=1) }}">Rene Magritte</a>
    {% endif %}

    </div>


    <div id="photo_gallery">
            {% for a in results %}
                {% if a.sizeh=='V' %}
                    <div class="karta">
                   <div class="divobrazka">
                      <img class="obrazek" src="{{url_for('static', filename='img/pictures/')}}{{ a.link }}" >
                   </div>
                    <div class="bodycard">
                        <h5 >{{ a.name }}</h5>
                        <h6>{{ a.artist }}</h6>
                        <h6>{{ a.year }}</h6>

                        <a href="{{ url_for('pictureOne', id=a.id) }}" title="See me!" class="btn btn-outline-dark knopka">Podglad</a>
                    </div>
                </div>
                {% elif a.sizeh=='H' %}
                    <div id="photo" class="card">
                       <img  src="{{ url_for('static', filename='img/pictures/')}}{{ a.link }}" class="card-img-top">
                       <div class="card-body">
                         <h5 class="card-title">{{ a.name }}</h5>
                         <h6>{{ a.artist }}</h6>
                         <h6>{{ a.year }}</h6>

                         <a href="{{ url_for('pictureOne', id=a.id) }}" title="See me!" class="btn btn-outline-dark">Podgląd</a>
                    </div>
                </div>
                {% endif %}


            {% endfor %}

    </div>
{#    <-->#}
    <div class="buttons">
    {% for page_num in pictures.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
            {% if pictures.page == page_num %}
               <a class="btn btn-dark mb-4" href="{{ url_for('picturesMenu', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-dark mb-4" href="{{ url_for('picturesMenu', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
            ...
        {% endif %}
    {% endfor %}

    </div>


{% endblock %}